@page "/login"
@layout MainLayout
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Login> _localizer

<MudGrid Justify="Justify.Center">
    <MudItem xs="12">
        <div class="d-flex flex-column align-center mb-4">
            <MudIcon Icon="@CustomIcons.BlazorHero" Color="Color.Primary" Size="Size.Large"
                     ViewBox="0 0 500 500" Style="width: 80px; height: 80px;" />
            <MudText Typo="Typo.h4" Class="mt-2 fw-bold" Color="Color.Primary">e-Power</MudText>
            <MudText Typo="Typo.body2" Color="Color.Secondary">Gestion immobilière & vente de crédit CEET</MudText>
        </div>
    </MudItem>

    <MudItem xs="12">
        <EditForm Model="@_tokenModel" OnValidSubmit="SubmitAsync">
            <FluentValidationValidator @ref="_fluentValidationValidator" />
            <DataAnnotationsValidator />
            <MudStack Spacing="3">
                <MudTextField T="string" Label="Adresse e-mail" Variant="Variant.Outlined"
                              @bind-Value="_tokenModel.Email" For="@(() => _tokenModel.Email)"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Email" />

                <MudTextField Label="Mot de passe" Variant="Variant.Outlined"
                              @bind-Value="_tokenModel.Password" For="@(() => _tokenModel.Password)"
                              InputType="@_passwordInput" Adornment="Adornment.End"
                              AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />

                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled"
                           Disabled="@(!Validated)" Color="Color.Primary" Size="Size.Large"
                           FullWidth="true" Class="mt-2"
                           StartIcon="@Icons.Material.Filled.Login">
                    Se connecter
                </MudButton>
            </MudStack>
        </EditForm>
    </MudItem>

    <MudItem xs="12">
        <MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Secondary" Class="mt-4">
            Contactez votre administrateur si vous n'avez pas de compte.
        </MudText>
    </MudItem>
</MudGrid>